@import url('https://fonts.googleapis.com/css?family=Sunflower:300');
* { margin:0; padding:0; box-sizing:border-box; }



h1 {
	color: #1A72DB;
	font-size: 5em;
	font-weight: bold;
	text-transform: uppercase;
}

header{
	font-family: 'Sunflower';
	float: right;
	padding: 1em;
}

div{
  width: 100%;
  padding: 1em;
  float: left;
  text-align: justify;
}

footer{
	clear: both;
	text-align: center;
}

body{
	background-color: #915050;

}

.column {
	width: 25%;
    float: left;
    padding: .15em;
}

#content{
	padding: 50em 0;
}

#intro {
    background: url(../images/coffee-mug.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
	  padding: 5em 0;
    height: 100VH;
    background-attachment: fixed;
    text-align: center;
    background-position: center;
}

.rows{
    background: #814d4b;
    background-blend-mode: .6;
    float: left;
    margin: .75em;
    width: 48%;
}

@media only screen and (max-width: 1360px) {

  nav {
    display: block;
    text-align: center;
  }
   nav a {
    margin: 0 .2em 0em;
  }
  header{
    float: none;
  }  
}

@media only screen and (max-width: 960px) {

  nav {
    display: block;
    text-align: center;
  }
   nav a {
    margin: 0 .2em 0em;
    display: block;
    font-size: 2em;
  }
  header{
    float: none;
  }  
  h1{
    font-size: 1em;
  }
  
}
